In [1]:
import pandas as pd
import numpy as np
import keras

from keras.models import Sequential
from keras.layers import Dense

# load the concrete_data dataset
concrete_data = pd.read_csv('https://cocl.us/concrete_data')

# verify that the data was loaded correctly
concrete_data.head()

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
# split the concrete_data set into predictors (inputs) and target (output)
predictors = concrete_data.drop(columns=['Strength'])
target = concrete_data['Strength']

n_cols = predictors.shape[1]

In [3]:
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation = 'relu', input_shape=(n_cols,)))
    model.add(Dense(1)) ##
    model.compile(optimizer = 'adam', loss = 'mean_squared_error')
    
    return model

model = regression_model()

In [4]:
from sklearn.model_selection import train_test_split

predictors_train, predictors_test, target_train, target_test = train_test_split(
    predictors, target, test_size = 0.3, random_state = 71)

predictors_train.shape

(721, 8)

In [5]:
model.fit(predictors_train, target_train, epochs=50)

Epoch 1/50
721/721 [==============================] - 1s 846us/step - loss: 95846.8588
Epoch 2/50
721/721 [==============================] - 0s 417us/step - loss: 34352.6652
Epoch 3/50
721/721 [==============================] - 0s 328us/step - loss: 10697.8074
Epoch 4/50
721/721 [==============================] - 0s 528us/step - loss: 3612.4757
Epoch 5/50
721/721 [==============================] - 0s 333us/step - loss: 2461.9844
Epoch 6/50
721/721 [==============================] - 0s 420us/step - loss: 2216.4471
Epoch 7/50
721/721 [==============================] - 0s 421us/step - loss: 1999.2483
Epoch 8/50
721/721 [==============================] - 0s 443us/step - loss: 1801.0665
Epoch 9/50
721/721 [==============================] - 0s 410us/step - loss: 1615.5443
Epoch 10/50
721/721 [==============================] - 0s 364us/step - loss: 1447.6008
Epoch 11/50
721/721 [==============================] - 0s 522us/step - loss: 1288.7757
Epoch 12/50
721/721 [==============================] - 0s 366us/step - loss: 1141.8316
Epoch 13/50
721/721 [==============================] - 0s 435us/step - loss: 1008.9952
Epoch 14/50
721/721 [==============================] - 0s 334us/step - loss: 891.6155
Epoch 15/50
721/721 [==============================] - 0s 360us/step - loss: 785.6024
Epoch 16/50
721/721 [==============================] - 0s 332us/step - loss: 694.0224
Epoch 17/50
721/721 [==============================] - 0s 363us/step - loss: 610.2767
Epoch 18/50
721/721 [==============================] - 0s 465us/step - loss: 540.7814
Epoch 19/50
721/721 [==============================] - 0s 392us/step - loss: 480.3916
Epoch 20/50
721/721 [==============================] - 0s 413us/step - loss: 429.0874
Epoch 21/50
721/721 [==============================] - 0s 384us/step - loss: 386.8781
Epoch 22/50
721/721 [==============================] - 0s 359us/step - loss: 352.2301
Epoch 23/50
721/721 [==============================] - 0s 366us/step - loss: 322.2158
Epoch 24/50
721/721 [==============================] - 0s 507us/step - loss: 298.0716
Epoch 25/50
721/721 [==============================] - 0s 502us/step - loss: 279.0724
Epoch 26/50
721/721 [==============================] - 0s 499us/step - loss: 263.3149
Epoch 27/50
721/721 [==============================] - 0s 387us/step - loss: 250.3715
Epoch 28/50
721/721 [==============================] - 0s 439us/step - loss: 239.5775
Epoch 29/50
721/721 [==============================] - 0s 336us/step - loss: 230.9016
Epoch 30/50
721/721 [==============================] - 0s 338us/step - loss: 223.4906
Epoch 31/50
721/721 [==============================] - 1s 862us/step - loss: 217.6592
Epoch 32/50
721/721 [==============================] - 0s 310us/step - loss: 212.2491
Epoch 33/50
721/721 [==============================] - 0s 421us/step - loss: 206.8291
Epoch 34/50
721/721 [==============================] - 0s 365us/step - loss: 202.2282
Epoch 35/50
721/721 [==============================] - 0s 388us/step - loss: 198.1819
Epoch 36/50
721/721 [==============================] - 0s 386us/step - loss: 194.5246
Epoch 37/50
721/721 [==============================] - 0s 360us/step - loss: 191.0051
Epoch 38/50
721/721 [==============================] - 0s 359us/step - loss: 186.7418 0s - loss: 190.69
Epoch 39/50
721/721 [==============================] - 0s 359us/step - loss: 186.2056
Epoch 40/50
721/721 [==============================] - 0s 498us/step - loss: 180.0476
Epoch 41/50
721/721 [==============================] - 0s 470us/step - loss: 176.5973
Epoch 42/50
721/721 [==============================] - 0s 359us/step - loss: 173.9250
Epoch 43/50
721/721 [==============================] - 0s 417us/step - loss: 171.0527
Epoch 44/50
721/721 [==============================] - 0s 410us/step - loss: 167.6004
Epoch 45/50
721/721 [==============================] - 0s 415us/step - loss: 166.0840
Epoch 46/50
721/721 [==============================] - 0s 386us/step - loss: 161.8368
Epoch 47/50
721/721 [==============================] - 0s 415us/step - loss: 159.2707
Epoch 48/50
721/721 [==============================] - 0s 334us/step - loss: 157.1911
Epoch 49/50
721/721 [==============================] - 0s 384us/step - loss: 154.7063 0s - loss: 136.
Epoch 50/50
721/721 [==============================] - 0s 362us/step - loss: 153.2547

In [6]:
from sklearn.metrics import mean_squared_error

In [7]:
predictions_test = model.predict(predictors_test)
print("Mean squared error on test data is %.3f" % 
      (mean_squared_error(target_test, predictions_test)))

Mean squared error on test data is 133.446

In [8]:
def evaluate_model(create_model_func, predictors, targets, epochs = 50):
    mean_squared_errors =[]
    for i in range(50):
        #Road the model
        model = create_model_func()
        
        #Split data into train and test
        predictors_train, predictors_test, target_train, target_test = train_test_split(
        predictors, target, test_size=0.3, random_state = 70)
        
        #Train 50 epochs
        model.fit(predictors_train, target_train, epochs = epochs, verbose=0)
        
        #Measure the mse and add this to the list
        predictions_test = model.predict(predictors_test)
        mse = mean_squared_error(target_test, predictions_test)
        mean_squared_errors.append(mse)
        print('...', end='')
    print('Done!')
    
    return np.mean(mean_squared_errors), np.std(mean_squared_errors)

In [9]:
#Part B
#Normalize the data
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
mean_mse, std_mse = evaluate_model(regression_model, predictors_norm, target)
#REPORT THE MEAN AND STD OF THE MEAN-SQUARED-ERROR LOSS
print("Mean squared errors for 50 epoch regression models on normalized data: mean = %.3f, std = %.3f"
     % (mean_mse, std_mse))

......................................................................................................................................................Done!
Mean squared errors for 50 epoch regression models on normalized data: mean = 367.056, std = 102.510